<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node Hangman</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <a href="/game">Start the game</a>
    <script type="text/javascript" src='../public/main.js'>

    </script>
</body>

</html>