<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node Hangman</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <div class="game-start">
        <a href="/game">Click to play Hangman!</a>
    </div>
</body>

</html>