<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node Hangman</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <h1>You win!</h2>
        <h2>The word was {{randomWord}}</h2>
        <a href="/game">Play again?</a>
        <script type="text/javascript" src='../public/main.js'></script>
</body>

</html>